# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
*.env/
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Windows
Thumbs.db
# PyCharm
.idea/
*.iml
# Log files
*.log

# Ignore dynamically generated JSON credentials
credentials
# Streamlit temporary files
.streamlit/
